body {
  padding-top: 50px;
  background-image: url('../images/cork_1.png');

    background-color: #8D99AE;

}


.container .col-md-3 {
  border: 5px;
  padding: 5px;
  margin: 5px;
}

#numberWins, #numberLosses, #randomNumber, #finalTotal {
  padding: 10px;
}
section {
  width: 960px;

  padding: 0px;
  margin: 50px;
}


.jumbotron {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #fff;
}


img {
  height: 100px;
  width: initial;
  float: left;
  padding: 10px 20px 20px 5px;
}

#stats {
  text-align: left;
  padding: 10px;
  border: 10px;
  margin: 10px;
}

#rules {
    /* margin: 0; */
    border-bottom: 1px solid #000;
    /* margin-bottom: 10px; */
    /* color: #8D99AE; */
    /* border-color: #dddddd; */
    /* border-color: #EF233C; */
    /* padding-bottom: 20px;} */
}

#diamond {
  padding: 10px;
}